<!DOCTYPE html>
<html>

<head>

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='/plugins/system/plugin_googlemap3/plugin_googlemap3.css.php' rel='stylesheet' type='text/css' />


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" /></script>
</head>


<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8">
                <div>
                    <div style="font-family: Roboto, sans-serif; color:white;">
                        <div class="col-xs-12" style="padding:2%;">
                            <div class="row" style="margin-bottom:5%">
                                <h1><center>
    <div class="col-xs-3">2nd</div>
    <div class="col-xs-3">3rd</div>
    <div class="col-xs-3">4th</div>
    <div class="col-xs-3">5th</div>
    </center></h1></div>


                            <center style="color: black; font-family: Roboto, sans-serif;">
                                <div class="row">
                                    <div class="col-xs-8" style="background-color:rgb(229, 130, 44); border-radius:20px;margin-top:5px;">Reading at grade level</div>
                                    <div class="col-xs-8 col-xs-offset-4" style="background-color:rgb(229, 130, 44); border-radius:20px; margin-top:5px;">Masters multiplication facts</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6" style="background-color:rgb(160, 210, 71); border-radius:20px; margin-top:5px; height: 30%;">Learn Dreamer character traits</div>
                                </div>
                                <div class="col-xs-8 col-xs-offset-4" style="background-color:rgb(160, 210, 71); border-radius:20px; margin-top:5px; height: 30%;">Extracurricular Activities</div>
                                <div class="col-xs-4 col-xs-offset-6" style="background-color:rgb(160, 210, 71); border-radius:20px; margin-top:5px; height: 120%;">Arts</div>
                                <div class="col-xs-4  col-xs-offset-8" style="background-color:rgb(160, 210, 71); border-radius:20px; margin-top:5px; height: 120%;">Sport teams</div>
                                <div class="row">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-8 col-xs-offset-1" style="background-color:rgb(255, 185, 102); border-radius:20px; margin-top:5px; height: 30%;">Parents open College Savings Accounts</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-8" style="background-color:rgb(255, 185, 102); border-radius:20px; margin-top:5px; height: 30%;">College Campus visits</div>
                                </div>
                                <div class="row">
                                    <div style="background-color:rgb(0, 176, 212); border-radius:20px; margin-top:5px; height: 30%;">Home visits and monthly parent meetings</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-2" style="background-color:rgb(0, 176, 212); border-radius:20px; margin-top:5px; height: 30%;">Gain advocacy skills</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8" style="background-color:rgb(200, 223, 144); border-radius:20px; margin-top:5px; height: 30%;">Mentor and program assistants connecting</div>
                                </div>
                                <div class="row">
                                    <div style="background-color:rgb(200, 223, 144); border-radius:20px; margin-top:5px;">10-year relationship with Program Director</div>
                                </div>
                            </center>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xs-4" style="padding:4%;">
                <center>
                    <img src="/img/elem.png" />
                    <br/>
                    <br/>
                    <p style="color:#fff; font-family: Roboto, sans-serif; margin-top:8px">A dedication ceremony launches the new Dreamer cohort in 2nd grade, bringing students, supporters, parents and staff together. A program director works on establishing bond among cohort of students and parents and will work with the students for the next 10 years. Regular in-school, after-school and summer programming begins at the student’s school and/or housing site.</p>

                    <div style="height: 15px"></div>
                    <button type="button" class="btn" style="border: black; background-color:rgb(0, 176, 212); font-weight: bold; color: black">More Information</button>
                </center>
            </div>


        </div>
    </div>
</body>

</html>